<div>
  <% if notice %>
    <div>
      <span><%= notice %></span>
    </div>
  <% end %>

  <div>
    <h1>Medicines</h1>
    <%= link_to "Add Medicine", new_medicine_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <div>
    <% @medicines.each do |medicine| %>
      <div id="medicine_<%= medicine.id %>">
        <h2><%= medicine.name %></h2>
        <p><%= medicine.description %></p>
        <p>Standard dosage: <%= medicine.standard_dosage %></p>

        <div>
          <%= link_to "View", medicine_path(medicine), class: "text-blue-500 hover:text-blue-700" %>
          <%= link_to "Edit", edit_medicine_path(medicine), class: "text-yellow-500 hover:text-yellow-700" %>
          <%= button_to "Delete", medicine_path(medicine), method: :delete, class: "text-red-500 hover:text-red-700",
              data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
