<div class="container">
  <div class="page-header">
	<h1 class="page-title">Medicines</h1>
	<%= link_to "Add Medicine", new_medicine_path,
		class: "button button--primary",
		data: { turbo_stream: true } %>
  </div>

  <div class="item-grid" id="medicines">
	<% @medicines.each do |medicine| %>
	  <div class="item-card" id="medicine_<%= medicine.id %>">
		<h2 class="item-card__title"><%= medicine.name %></h2>
		<p class="item-card__detail"><%= medicine.description %></p>
		<p class="item-card__detail">Standard dosage: <%= medicine.dosage %> <%= medicine.unit %></p>

		<div class="item-card__actions">
		  <%= link_to "View", medicine_path(medicine), class: "button button--link" %>
		  <%= link_to "Edit", edit_medicine_path(medicine), class: "button button--link" %>
		  <%= button_to "Delete", medicine_path(medicine),
			  method: :delete,
			  class: "button button--danger",
			  data: { confirm: "Are you sure?" } %>
		</div>
	  </div>
	<% end %>
  </div>
</div>
