<div class="container">
  <% if notice %>
    <div class="notice">
      <span><%= notice %></span>
    </div>
  <% end %>

  <div class="medicine">
    <div class="medicine__header">
      <h1 class="medicine__title"><%= @medicine.name %></h1>
    </div>

    <div class="medicine__section">
      <h2 class="medicine__subtitle">Description</h2>
      <p class="medicine__text"><%= @medicine.description %></p>
    </div>

    <div class="medicine__section">
      <h2 class="medicine__subtitle">Standard Dosage</h2>
      <p class="medicine__text"><%= @medicine.dosage %> <%= @medicine.unit %></p>
    </div>

    <div class="medicine__section">
      <h2 class="medicine__subtitle">Additional Dosage Options</h2>
      <% if @medicine.dosage_options.any? %>
        <div class="medicine__options">
          <% @medicine.dosage_options.ordered.each do |option| %>
            <div class="medicine__option">
              <p class="medicine__text"><%= option.amount %> <%= @medicine.unit %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="medicine__text medicine__text--muted">No additional dosage options available.</p>
      <% end %>
    </div>

    <% if @medicine.warnings.present? %>
      <div class="medicine__section medicine__section--warning">
        <h2 class="medicine__subtitle">Warnings</h2>
        <p class="medicine__text"><%= @medicine.warnings %></p>
      </div>
    <% end %>
    
    <div class="medicine__actions">
      <%= link_to "Edit", edit_medicine_path(@medicine), class: "button button--primary" %>
      <%= link_to "Back", medicines_path, class: "button button--secondary" %>
    </div>
  </div>
  </div>
</div>
