<%= form_with(model: person, class: "form") do |f| %>
  <% if person.errors.any? %>
    <div class="form__errors">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form__table">
    <tr class="form__row">
      <td class="form__label-cell">
        <%= f.label :name, class: "form__label" %>
      </td>
      <td class="form__input-cell">
        <%= f.text_field :name, class: "form__input" %>
      </td>
    </tr>
    <tr class="form__row">
      <td class="form__label-cell">
        <%= f.label :date_of_birth, class: "form__label" %>
      </td>
      <td class="form__input-cell">
        <%= f.date_field :date_of_birth, class: "form__input" %>
      </td>
    </tr>
  </table>

  <div class="form__actions">
    <%= f.submit class: "button" %>
    <%= link_to "Back", people_path, class: "button button--secondary" %>
  </div>
<% end %>
