<div class="container">
  <% if notice %>
    <div class="alert alert--success">
      <span><%= notice %></span>
    </div>
  <% end %>

  <%= render "person_details", person: @person, editing: params[:editing] %>

  <div class="card">
    <div class="flex justify-between items-center mb-6">
      <h2 class="mb-0">Prescriptions</h2>
      <%= link_to "Add Prescription", new_person_prescription_path(@person),
          class: "button button--primary",
          data: { turbo_frame: "new_prescription" } %>
    </div>

    <%= turbo_frame_tag "new_prescription" %>

    <div id="prescriptions" class="flex flex-col gap-4">
      <% @prescriptions.each do |prescription| %>
        <%= render "prescriptions/prescription", prescription: prescription, person: @person %>
      <% end %>

      <% if @prescriptions.empty? %>
        <p class="text-gray text-center">No prescriptions yet.</p>
      <% end %>
    </div>
  </div>
</div>
