<div id="prescription_<%= prescription.id %>" class="prescription">
  <div class="prescription__content">
    <div class="prescription__info">
      <h3 class="prescription__title"><%= prescription.medicine.name %></h3>
      <p class="prescription__detail">Dosage: <%= prescription.dosage %></p>
      <p class="prescription__detail">Frequency: <%= prescription.frequency %></p>
      <p class="prescription__detail">Started: <%= prescription.start_date.strftime("%B %d, %Y") %></p>
      <% if prescription.end_date %>
        <p class="prescription__detail">Ends: <%= prescription.end_date.strftime("%B %d, %Y") %></p>
      <% end %>
      <% if prescription.notes.present? %>
        <p class="prescription__notes">Notes: <%= prescription.notes %></p>
      <% end %>

      <div class="prescription__takes">
        <h4 class="prescription__takes-title">Today's takes:</h4>
        <% todays_takes = prescription.take_medicines.where("taken_at >= ?", Time.current.beginning_of_day) %>
        <% if todays_takes.any? %>
          <ul class="prescription__takes-list">
            <% todays_takes.order(taken_at: :desc).each do |take| %>
              <li class="prescription__take">
                <svg class="prescription__take-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--color-success)" width="16" height="16">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="prescription__take-time"><%= take.taken_at.strftime("%l:%M %p").strip %></span>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="prescription__takes-empty">No medications taken today</p>
        <% end %>

        <%= form_with url: take_medicine_person_prescription_path(person, prescription), method: :post, class: "prescription__take-form" do |f| %>
          <div class="prescription__take-form-group">
            <%= f.label :amount_ml, "Amount (ml)", class: "sr-only" %>
            <%= f.number_field :amount_ml, value: prescription.dosage.to_f, step: 0.5, min: 0, class: "form__input" %>
            <%= f.submit "Take Now", class: "button button--primary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="prescription__actions">
      <%= link_to "Edit", edit_person_prescription_path(person, prescription), class: "button button--secondary" %>
      <%= button_to person_prescription_path(person, prescription),
          method: :delete,
          class: "button button--danger",
          form: { data: { turbo_confirm: "Are you sure?" } } do %>
        Delete
      <% end %>
    </div>
  </div>
</div>
