<!DOCTYPE html>
<html>
<head>
  <title>Sheet Test</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <h1>Sheet Test</h1>

  <%= render RubyUI::Sheet.new do %>
    <%= render RubyUI::SheetTrigger.new do %>
      <%= render RubyUI::Button.new(variant: :outline) { "Open Sheet" } %>
    <% end %>
    <%= render RubyUI::SheetContent.new(class: 'sm:max-w-sm') do %>
      <%= render RubyUI::SheetHeader.new do %>
        <%= render RubyUI::SheetTitle.new { "Test Sheet" } %>
        <%= render RubyUI::SheetDescription.new { "This is a test" } %>
      <% end %>
      <%= render RubyUI::SheetMiddle.new do %>
        <p>Content goes here</p>
      <% end %>
      <%= render RubyUI::SheetFooter.new do %>
        <%= render RubyUI::Button.new(
          variant: :outline,
          data: { action: 'click->ruby-ui--sheet-content#close' }
        ) { 'Cancel' } %>
      <% end %>
    <% end %>
  <% end %>
</body>
</html>
