<nav>
  <%= link_to "Medicines", '#' %>
  <%= link_to "People", '#' %>
  <%= link_to "Medicine Finder", '#' %>

  <% if current_user %>
    <%= button_to "Sign out", session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", '/login' %>
  <% end %>
</nav>
