<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Med Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#007BFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.webmanifest">
    <%= favicon_link_tag "/favicon.svg", type: "image/svg+xml" %>
    <%= favicon_link_tag "/favicon.svg", rel: "apple-touch-icon", type: "image/svg+xml" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <body>
    <%= render Components::Layouts::Navigation.new(current_user: current_user) %>
    <% if content_for?(:flash) %>
      <%= yield :flash %>
    <% else %>
      <div id="flash">
        <%= render Components::Layouts::Flash.new(notice: notice, alert: alert) %>
      </div>
    <% end %>

    <main>
	<%= yield %>
    </main>
    <div id="modal"></div>
  </body>
</html>
